:root {
  --accent_color: #195cc8;
  --accent_color_2: #e94f37;
  --accent_color_3: #26a671;
  --white: #eae4d7;
  --black: #141414;
  --header_font: "Fraunces", serif;
  --body_font: "Roboto", sans-serif;

  --text: #2b3044;
  --line: #bbc1e1;
  --line-active: #195cc8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eae4d7;
  color: #195cc8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-left: 10%;
  margin-top: 2vw;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-left: 10%;
  margin-bottom: 3vw;
}

article {
  width: 80%;
  margin: auto;
}

section {
  margin: 2vw 0;
}

p {
  line-height: 1.5rem;
}

img {
  border-radius: 0.5em;
}

svg {
  border: dashed 5px #195cc8;
}

aside {
  font-style: italic;
  margin: 2vw 4vw;
}

.split {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2vw;
  margin: 5vw 0;
  justify-items: center;
  align-items: center;
}

.example {
  width: 20vw;
  height: auto;
}

#exampleOne {
  animation: rotate 5s infinite;
  transform-origin: center center;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/*preloader*/

.preloaderBg {
  background-color: #195cc8;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
  cursor: none;
}

.preloaderBg svg {
  border: none;
  width: 30vw;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#leftEyeball,
#rightEyeball {
  height: 50vw;
  animation: move 1.4s 0.2s ease-out forwards;
}

@keyframes move {
  0% {
    transform: translate(0);
  }

  30% {
    transform: translate(-15%, 0);
  }
  65% {
    transform: translate(15%, 0);
  }
  100% {
    transform: translate(0, 22%);
  }
}

.preloaderBg.done, .preloaderDemo.done {
  animation: welcome-load 1.7s 1.8s ease forwards;
}

@keyframes welcome-load {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-150%);
  }
}


/*handwriter*/
.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  gap: 5vw;
}

.handwriting {
  border: none;
  width: 40%;
}
#first {
  stroke-dasharray: 1129.7293701171875;
  stroke-dashoffset: 1129.7293701171875;

  animation: m 0.8s ease-in;
  animation-fill-mode: forwards;
}

@keyframes m {
  to {
    stroke-dashoffset: 0;
  }
}

#second {
  stroke-dasharray: 724.6718139648438;
  stroke-dashoffset: 724.6718139648438;

  animation: os 1s 0.8s linear;
  animation-fill-mode: forwards;
}

@keyframes os {
  to {
    stroke-dashoffset: 0;
  }
}

#third {
  stroke-dasharray: 871.1315307617188;
  stroke-dashoffset: 871.1315307617188;

  animation: ho 1s 1.7s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes ho {
  to {
    stroke-dashoffset: 0;
  }
}

#four {
  stroke-dasharray: 646.6912841796875;
  stroke-dashoffset: 646.6912841796875;

  animation: lm 1.4s 2.7s ease-out;
  animation-fill-mode: forwards;
}

@keyframes lm {
  to {
    stroke-dashoffset: 0;
  }
}



/*handwriting link */

p {
  font-size: 18px;
  color: var(--black);
}
p a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 var(--spacing, 0px);
  transition: margin 0.25s;
}
p a svg {
  border: none;
  width: 76px;
  height: 40px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}

p a:hover {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: 0.1s;
  --offset: 180px;
}

/*button*/
#download {
  position: absolute;
  top: 30%;
  left: 30%;
}

#container {
  transition: all 0.25s;
  cursor: pointer;
}

#container:hover {
  opacity: 0.6;
}

rect {
  transition: all 1s 0.2s;
}
.collapse rect {
  transform-origin: center;
  transform: scaleY(0.1);
  opacity: 0.6;
}

text {
  transition: all 0.1s 0.2s;
}
.collapse text {
  opacity: 0;
}

#container,
#newLine {
  transition: all 1.5s 1.5s;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}
